<br>
<div class="container">
    <!-- <h3 class="d-flex justify-content-center">FIGI</h3> -->
    <nav class="navbar navbar-expand-sm bg-light-gray navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink='information' class="m-1 btn  btn-secondary" Button>
                  Information
                </button>
            </li>
            <li class="nav-item">
                <button routerLink='search' class="m-1 btn btn-warning" Button>
                  Search 
                </button>
            </li>
        </ul>
    </nav>



    <router-outlet></router-outlet>
</div>